<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="STDB" connectionString="Data Source=.;User Id=sa;Password=123;Initial Catalog=STDB;Pooling=true;Min Pool Size=1;"/>
  </connectionStrings>
  <appSettings>
    <add key="ConStringEncrypt" value="true"/>
  </appSettings>
</configuration>